
.HomeContainer{
}

.imgContainer{
    height: 750px;
    display: flex;
    justify-content: center;
    flex: 3;
}

.imgContainer img{
    object-position: 0% 20%;
    width: 100%;
    object-fit: cover;


}

.HomeImg{
    height: 1000px;
}
.description{
    flex: 1;
    display: flex;
    justify-content: center;
}

.description h1{
    font-size: 2rem;
}